<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/assets/app-controller.js"></script>

</head>


<body>

	<h1> Victor Bank </h1>

	<h3> USERNAME ALREADY TAKEN</h3>

	<h4> If you do not have user info feel free to sign up!! </h4>


</body>


</html>
