body{

background-image: url("http://images.psxextreme.com/wallpapers/ps3/leaning_tree_822.jpg");


}

.signupcontainer{

text-align:center;
display:flex;
justify-content: center;
page-break-after: always;
width:100%;
}
